<h3>Pages</h3><br/>
<table class="table table-striped" style="width: 400px;">
<?php foreach($data['news'] as $page_data) { ?>
    <tr>
        <td><b><?=$page_data['title']?></b></td>
        <td align="right">
            <a href="/admin/news/edit/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/admin/news/delete/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
    </tr>
<?php } ?>
</table>

<br/>

<div>
    <a href="/admin/news/add/"><button class="btn btn-sm btn-success">New Page</button></a>
</div>